<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500</title>
    <link href="{{ url_for('static', filename='css/tailwind-output.css')}}" rel="stylesheet" />
  </head>
  <body class="bg-[#181a1e]">
    <main class="h-screen grid place-content-center font-Roboto container mx-auto px-4">
      <h1 class="text-center text-9xl">500</h1>
      <p class="mt-4 text-2xl">
        Looks like our servers threw a surprise party and invited some unexpected bugs! They're
        currently sorting out the confetti and cake. Hang tight while we clean up this digital mess.
      </p>
      <div class="mt-8 text-xl">
        <a class="btn btn-primary" href="{{url_for('login')}}">You feeling lucky?</a>
      </div>
    </main>
  </body>
</html>
