{%extends 'base.html'%} {%block content%}
<main class="container mx-auto px-4">
  <section class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-0 md:mb-4">
    <a href="{{ url_for('register')}}">
      <div class="card w-full bg-[#202528] border border-primary border-dashed cursor-pointer">
        <div class="card-body">
          <div class="flex justify-center items-center">
            <span class="material-icons-sharp text-primary text-5xl"> add </span>
            <h2 class="card-title text-primary text-3xl">Add User</h2>
          </div>
          <div class="overflow-x-auto"></div>
          <!-- <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div> -->
        </div>
      </div>
    </a>
    <div class="card w-full bg-[#202528] border border-primary border-dashed cursor-pointer">
      <div class="card-body">
        <h2 class="card-title">Card2</h2>
        <div class="overflow-x-auto"></div>
        <!-- <div class="card-actions justify-end">
                  <button class="btn btn-primary">Buy Now</button>
                </div> -->
      </div>
    </div>
    <div
      class="card w-full bg-[#202528] mb-4 md:mb-0 border border-primary border-dashed cursor-pointer"
    >
      <div class="card-body">
        <h2 class="card-title">Card3</h2>
        <div class="overflow-x-auto"></div>
        <!-- <div class="card-actions justify-end">
                  <button class="btn btn-primary">Buy Now</button>
                </div> -->
      </div>
    </div>
  </section>
</main>
{%endblock%}
